.linha{
    width: 50%;
    height: 2px;
    margin: 0;
}

/*Responsividade*/

@media (max-width: 1200){
    .linha{
        width: 50%;
        height: 2px;
        margin: 0;
    }
}

@media (max-width: 768){
    .linha{
        width: 50%;
        height: 2px;
        margin: 0;
    }
}

@media (max-width: 480){
    .linha{
        width: 50%;
        height: 2px;
        margin: 0;
    }
}